// This file is empty within the template
// You can use it to override CSS from within your project

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.nav-offset {
    padding-top: 70px;
}

.parallax {
    background-color: #333;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/ss-3.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
   
}