// This file is empty within the template
// You can use it to override CSS from within your project

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.nav-offset {
    padding-top: 70px;
}