// Color Variables
$primary-color: #005B2B;
$text-color: #333;
$text-color-dark: #222;
$body-color: #fff;
$border-color: #ECECEC;
$black: #000;
$white: #fff;
$light: #F8F8FA;

// Font Variables
$primary-font: 'Raleway', sans-serif;
$font-hosting: 'google'; // From where to include Lato from: [google|local|none]
$icon-font: 'themify';
$secondary-font: 'Roboto', sans-serif;