

{{ "<!-- navigation -->" | safeHTML }}
 <header class="navigation"> 
  <div class="container-fluid fixed-top" id="top-nav-container">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="{{ site.BaseURL }}">
        {{ with site.Params.logo}}
        <img width="{{site.Params.logo_width}}" class="img-fluid" src="{{ . | absURL }}" alt="{{ site.Title }}">
        {{ else }}{{site.Title}}{{end}}
      </a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
        <i class="ti-menu h3"></i>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav mx-auto">
          {{ range site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
              {{ .Name }}
            </a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
          </li>
          {{ end }}
          {{ end }}
        </ul>

        {{ if site.Params.navigation_button.enable }}
        {{ with site.Params.navigation_button }}
        <a href="{{ .link | absURL }}" class="btn btn-sm btn-primary ml-3">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </nav>
  </div>
  <div class="container align-items-center nav-offest text-center">
    <div class="row align-items-center">
      <div class="col">
        <p class="text-danger"><a href="/covid-19" class="text-danger">CLICK HERE FOR IMPORTANT COVID-19 RELATED INFORMATION AND ANNOUNCEMENTS</a></p>
        <p class="text-danger">THIS IS A DEVELOPMENT VERSION OF <a href="https://lautenbachrecycling.com">HTTPS://LAUTENBACHRECYCLING.COM/</a>. 
        It is intended for testing and demonstration purposes ONLY.</p>
      </div>
    </div>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}