.parallax {
    background-image: url("images/backgrounds/lrp-staff.JPG");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.half-page {
    height: 50vh;
}
